 /*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;1,300;1,500&display=swap');
*/
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing:border-box;
}

body{
  background-color:rgb(43, 42, 42);
  font-family: 'Poppins', sans-serif;
  color: white;
}

/*header part*/
.header{
    display:flex;
    justify-content: space-between;
    padding: 25px 11%;

}
.logo{
    font-family: 'Courier New', Courier, monospace;
    color:orange;
    text-decoration: none;
    font-weight: 800;
    font-size:35px;
    cursor:default;
    animation: navMenu 1s ease forwards;
    opacity:0;
}
.navbar a{
    display: inline-block;
   text-decoration: none;
   color:#fff;
   padding: 0px 20px;
   font-weight: 800;
   transition: 0.3s all;
   animation: navMenu 1s ease forwards;
   animation-delay: calc(0.2s * var(--i));
   opacity:0;
}
.navbar a:hover,
.navbar a.active {
    color:#0ef;
}

/*hero section*/
.hero-container{
    display: flex;
    padding: 25px 10px;
    justify-content: center;
    align-items: center;
}

.info-side h3{
    font-size: 30px;
    font-weight: 700;
    margin:10px 0;
    letter-spacing: 1px;
   /* animation:slideRight 1s ease forwards;*/
    
}

.info-side h1{
  font-size: 70px;
  font-weight: 700;
  margin:10px 0;
  letter-spacing: 1px;
  animation:slideRight 1s ease forwards;
  opacity: 0;
}
.info-side h3 span{
    color: #0ef;
}
.part-1{
    animation:part1 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}
.part-2{
    animation:part2 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}


p{
    font-size: 20px;
    line-height: 27px;
    margin:20px 0px 40px 0px ;
    animation:slideLeft 1s ease forwards;
    animation-delay: 1.1s;
    opacity: 0;
    
}

.hero-img img{
   width:530px;
   animation:zoomIn 1s ease forwards;
   animation-delay: 1s;
   opacity: 0; 
}
/*icons*/
i{
   position:relative;
   border: 2px solid #0ef;
   padding: 10px;
   border-radius: 50%;
   color: #0ef;
   margin:0px 8px;
   transition: 0.3ms;
   animation :socialIcons 1s ease forwards;
   animation-delay: calc(0.3s * var(--i));
   opacity:0;
   
}
i:hover{
    box-shadow: 0 0 20px pink; 
}
  
 
/*Animation*/
@keyframes slideLeft{
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}
@keyframes navMenu{
    0%{
        transform:translateY(100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity: 1;
    }
}
@keyframes part1 {
    0%{
        transform:translateY(-100px);/*100px means it comes from down*/
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity: 1;
    }
}

@keyframes part2 {
    0%{
        transform:translateY(-100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity: 1;
    }
}
@keyframes slideRight {
    0%{
        transform:translateX(100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}
@keyframes socialIcons {
    0%{
        transform:translateX(100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}
  
@keyframes zoomIn {
    0%{
        transform:scale(0);
        opacity: 0;
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}


